# dependencies
node_modules
.pnp
.pnp.js

# build output
dist
dist-ssr

# local env files
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor / os
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# never commit CVs or documents to a public repo
*.pdf
*.docx

# windows os junk
Thumbs.db
desktop.ini